.headercolor{
      
    background-color: antiquewhite;
    Height : 10px;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Position at the top */
    left: 0; /* Align with the left edge */
    right: 0;
    z-index: 1000;
}