/* Navbar.css */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  padding-right: 150px;
  position: fixed; 
  top: 20px; 
  left: 0;
  right: 0;
  margin-left : 20px; 
  margin-right: 20px ;
  font-weight: 700;
  z-index: 1000;
  border-top: 1px solid #808080;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 50px;
}

.navbar-item {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 0px;
  font-family: 'Lora', serif;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-item:hover,
.navbar-item.active {
  background-color: #333;
  color: white;
}


.imageoflogo {
  height: 80px;
  width: 80px;
  margin-left: 30px;
}

@media (max-width: 640px) {
  .navbar {

    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
   
  }

  .navbar-menu {
    display: none; 
    flex-direction: column;
    gap: 10px;
  /* Hide menu items by default */
    width: 100%;
  }

  .navbar-menu.open {
    display: flex;
    background-color: hsl(334, 37%, 93%); /* Show menu items when the menu is open */
  }

  .navbar-item {
    padding: 10px;
    font-size: large;
    width: 100%;
    text-align: left;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed ;
    top : 50px;
    right : 30px;
    background-color: yellow;
  
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
  }
}