/* Navbar.css */
.navbar {

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  font-family: sans-serif;
 
  font-size: large;
  padding-right : 150px ;
  position: fixed; /* Fix the navbar at the top */
  top: 10px; /* Position at the top */
  left: 0; /* Align with the left edge */
  right: 0;
  font-weight: 700;
  z-index: 1000;
  
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 50px;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-item:hover {
  background-color: #555;
}
.donate{
      
      height: 40px;
      width: 130px ;
      background-color: red;
      margin :5px ;
      font-size: x-large;
      padding-right : 7px ;
      padding-left : 7px ;
      padding-top : 5px ;
      padding-bottom: 5px;
}
.imageoflogo{
      height: 60px;
      width: 60px;
}
