/* Navbar.css */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  padding-right: 150px;
  position: fixed; /* Fix the navbar at the top */
  top: 20px; /* Position at the top */
  left: 0; /* Align with the left edge */
  right: 0;
  margin-left : 20px; 
  margin-right: 20px ;
  font-weight: 700;
  z-index: 1000;
  border-top: 1px solid #808080;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 50px;
}

.navbar-item {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 0px;
  font-family: 'Lora', serif;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-item:hover,
.navbar-item.active {
  background-color: #333;
  color: white;
}

.donate {
  height: 40px;
  width: 130px;
  background-color: red;
  margin: 5px;
  font-size: x-large;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.imageoflogo {
  height: 80px;
  width: 80px;
  margin-left: 30px;
}
